# Godot 4+ specific ignores
.godot/

build/

# library/object/executable files
*.dll
*.a
*.so
*.framework
*.o
*.os
*.exe
*.x86_64

# tmp files
*.tmp

# vscode files
.vscode

# scons cache
.sconsign.dblite
/.scons_cache/

thirdparty/*/*
