[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
	ignore = untracked
[submodule "thirdparty/libserialport"]
	path = thirdparty/libserialport
	url = https://github.com/sigrokproject/libserialport
	ignore = untracked
[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
